/.idea
/.vscode
/.DS_Store

/web/.env
/web/vendor
/web/node_modules
/web/storage/*.key
/web/storage/framework/cache/*
/web/storage/framework/sessions/*
/web/storage/framework/views/*
/web/storage/logs/*
/web/database/database.sqlite

/devops/.env
/.env

/front